<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clase Flask 1114</title>
  </head>
  <body>
    <!--
      Esta pagina es muy simple a proposito.
      La idea es que el alumno pueda leerla sin perderse.
    -->
    <h1>Bienvenidos al portal de clase 1114</h1>


    <a href="/informacion"> Información </a>
    <a href="/recursos"> Recursos </a>
    <a href="/tareas"> Tareas </a>
    <a href="/Inscripcion"> Inscripción </a>

    <p>
    Mi nombre es Valentina y este es mi primer portal web en Flask
    </p>

    <p>
      Estoy aprendiendo rutas,HTML y Python.
    </p>

    <hr/>

    <p>Primer objetivo cumplido: crear el entorno y levantar el servidor.</p>

    <p>
      Ahora este proyecto empieza a convertirse en un Mini Portal de Clase
      Flask. En la tarea 3 vas a crear nuevas paginas y conectarlas con rutas.
    </p>


<p><strong>Profesor:</strong> 
  {{ nombre_profesor }}</p>
<p><strong>Email:</strong> 
  {{ email }}</p>
<p><strong>Horario:</strong>
   {{ horario }}</p>
<p><strong>Aula:</strong>
   {{ aula }}</p>
<p><strong>Descripcion:</strong> 
  {{ descripcion }}</p>




  

  </body>
</html>
