<!DOCTYPE html>
<html>
<head>
    <title>Información</title>
</head>
<body>

    <h1>Información</h1>

    <nav>
        <a href="/">Inicio</a>
        <a href="/recursos">Recursos</a>
        <a href="/tareas">Tareas</a>
         <a href="/inscripcion">Inscripciones</a>
         <li><a href="/estudiantes">Estudiantes</a></li>
         <li><a href="/estudiantes">Estudiantes</a></li>
    </nav>

    <hr>

    <h2>Objetivos de la clase</h2>

    <ul>
        {% for objetivo in objetivos %}
        <li>{{ objetivo }}</li>
        {% endfor %}
    </ul>

</body>