<!DOCTYPE html>
<html>
<head>
    <title>Información</title>
</head>
<body>

    <h1>Información del Curso</h1>

    <p>Esta página contiene información general del portal.</p>

<table border="1">
    <thead>
        <tr>
            <th>Numero</th>
            <th>Titulo</th>
            <th>Fecha entrega</th>
        </tr>
    </thead>
    <tbody>
        {% for tarea in tareas %}
        <tr>
            <td>{{ tarea.numero }}</td>
            <td>{{ tarea.titulo }}</td>
            <td>{{ tarea.fecha }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


    <a href="/">Inicio</a>
    <a href="/recursos">Recursos</a>
    <a href="/informacion">Información</a>
    <a href="/incripcion"> Inscripciones</a>
    <a href="/estudiantes">Estudiantes</a>       

    


</body>



</html>